In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

C:\Users\Aayush Shah\AppData\Local\Temp\ipykernel_2752\2244124461.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [44]:
ticker_symbol='IRFC.NS'

In [69]:
df=yf.download(ticker_symbol,start='2022-08-12',end='2024-07-12')
df

C:\Users\Aayush Shah\AppData\Local\Programs\Python\Python312\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-08-12,2390.845947,2437.965088,2383.369873,2430.258057,2413.827881,6325293
2022-08-16,2442.441650,2452.687012,2424.997070,2447.148926,2430.604492,3303689
2022-08-17,2459.794189,2470.777832,2451.071777,2459.932617,2443.301758,3297982
2022-08-18,2455.179199,2463.486084,2436.903809,2456.379150,2447.732666,3705017
2022-08-19,2445.949219,2456.748291,2404.367920,2412.582764,2404.090332,4730362
...,...,...,...,...,...,...
2024-07-05,3107.649902,3197.000000,3096.000000,3177.250000,3177.250000,6134855
2024-07-08,3178.000000,3217.600098,3165.050049,3201.800049,3201.800049,4750403
2024-07-09,3195.199951,3201.000000,3161.000000,3180.550049,3180.550049,3480001
2024-07-10,3190.000000,3195.000000,3126.300049,3168.449951,3168.449951,3567289
2024-07-11,3175.000000,3208.500000,3141.000000,3161.300049,3161.300049,5970473

In [70]:
import numpy as np
df['signal'] = np.random.random(len(df))
df['signal'] = df['signal'].apply(lambda x: 1 if x<0.5 else 2)

In [71]:
df

,Open,High,Low,Close,Adj Close,Volume,signal
Date,,,,,,,
2022-08-12,2390.845947,2437.965088,2383.369873,2430.258057,2413.827881,6325293,1
2022-08-16,2442.441650,2452.687012,2424.997070,2447.148926,2430.604492,3303689,1
2022-08-17,2459.794189,2470.777832,2451.071777,2459.932617,2443.301758,3297982,1
2022-08-18,2455.179199,2463.486084,2436.903809,2456.379150,2447.732666,3705017,1
2022-08-19,2445.949219,2456.748291,2404.367920,2412.582764,2404.090332,4730362,2
...,...,...,...,...,...,...,...
2024-07-05,3107.649902,3197.000000,3096.000000,3177.250000,3177.250000,6134855,2
2024-07-08,3178.000000,3217.600098,3165.050049,3201.800049,3201.800049,4750403,1
2024-07-09,3195.199951,3201.000000,3161.000000,3180.550049,3180.550049,3480001,1
2024-07-10,3190.000000,3195.000000,3126.300049,3168.449951,3168.449951,3567289,2
2024-07-11,3175.000000,3208.500000,3141.000000,3161.300049,3161.300049,5970473,1

In [72]:
df_reset=df.reset_index()

In [73]:
df_reset.drop(columns='Adj Close',axis=1)

,Date,Open,High,Low,Close,Volume,signal
0,2022-08-12,2390.845947,2437.965088,2383.369873,2430.258057,6325293,1
1,2022-08-16,2442.441650,2452.687012,2424.997070,2447.148926,3303689,1
2,2022-08-17,2459.794189,2470.777832,2451.071777,2459.932617,3297982,1
3,2022-08-18,2455.179199,2463.486084,2436.903809,2456.379150,3705017,1
4,2022-08-19,2445.949219,2456.748291,2404.367920,2412.582764,4730362,2
...,...,...,...,...,...,...,...
465,2024-07-05,3107.649902,3197.000000,3096.000000,3177.250000,6134855,2
466,2024-07-08,3178.000000,3217.600098,3165.050049,3201.800049,4750403,1
467,2024-07-09,3195.199951,3201.000000,3161.000000,3180.550049,3480001,1
468,2024-07-10,3190.000000,3195.000000,3126.300049,3168.449951,3567289,2
469,2024-07-11,3175.000000,3208.500000,3141.000000,3161.300049,5970473,1

In [74]:
df.info

<bound method DataFrame.info of                    Open         High          Low        Close    Adj Close  \
Date
2022-08-12  2390.845947  2437.965088  2383.369873  2430.258057  2413.827881
2022-08-16  2442.441650  2452.687012  2424.997070  2447.148926  2430.604492
2022-08-17  2459.794189  2470.777832  2451.071777  2459.932617  2443.301758
2022-08-18  2455.179199  2463.486084  2436.903809  2456.379150  2447.732666
2022-08-19  2445.949219  2456.748291  2404.367920  2412.582764  2404.090332
...                 ...          ...          ...          ...          ...
2024-07-05  3107.649902  3197.000000  3096.000000  3177.250000  3177.250000
2024-07-08  3178.000000  3217.600098  3165.050049  3201.800049  3201.800049
2024-07-09  3195.199951  3201.000000  3161.000000  3180.550049  3180.550049
2024-07-10  3190.000000  3195.000000  3126.300049  3168.449951  3168.449951
2024-07-11  3175.000000  3208.500000  3141.000000  3161.300049  3161.300049

             Volume  signal
Date
2022-08-12  6325293       1
2022-08-16  3303689       1
2022-08-17  3297982       1
2022-08-18  3705017       1
2022-08-19  4730362       2
...             ...     ...
2024-07-05  6134855       2
2024-07-08  4750403       1
2024-07-09  3480001       1
2024-07-10  3567289       2
2024-07-11  5970473       1

[470 rows x 7 columns]>

In [77]:
pip install Backtesting

Requirement already satisfied: Backtesting in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (0.3.3)
Requirement already satisfied: numpy>=1.17.0 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from Backtesting) (1.26.4)
Requirement already satisfied: pandas!=0.25.0,>=0.25.0 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from Backtesting) (2.2.0)
Requirement already satisfied: bokeh>=1.4.0 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from Backtesting) (3.5.0)
Requirement already satisfied: Jinja2>=2.9 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (3.1.3)
Requirement already satisfied: contourpy>=1.2 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (1.2.0)
Requirement already satisfied: packaging>=16.8 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (23.2)
Requirement already satisfied: pillow>=7.1.0 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (10.2.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (6.0.1)
Requirement already satisfied: tornado>=6.2 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (6.4)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from bokeh>=1.4.0->Backtesting) (2024.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from pandas!=0.25.0,>=0.25.0->Backtesting) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from pandas!=0.25.0,>=0.25.0->Backtesting) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from pandas!=0.25.0,>=0.25.0->Backtesting) (2024.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from Jinja2>=2.9->bokeh>=1.4.0->Backtesting) (2.1.5)
Requirement already satisfied: six>=1.5 in c:\users\aayush shah\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas!=0.25.0,>=0.25.0->Backtesting) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [78]:
from backtesting import Backtest, Strategy

In [79]:
def SIGNAL():
    return df.signal

from backtesting import Strategy
class MyStrat(Strategy):
    initsize = 1
    mysize = initsize
    def init(self):
        super().init()
        self.signal1 = self.I(SIGNAL)

    def next(self):
        super().next()
        
        if(self.signal1>0 and len(self.trades)==0 and len(self.closed_trades)>0 and self.closed_trades[-1].pl < 0):
            #first condition ensures no previous trade is open and second condition ensures the P&L of last trade was negative meaning a loss hence we double the capital
            self.mysize=self.mysize*2
            #print(self.data.index, self.mysize)
            #print(self.closed_trades[-1], self.closed_trades[-1].pl)
            #print(self.equity)
            #print("-"*20)
        elif len(self.closed_trades)>0 and self.closed_trades[-1].pl > 0:
            #first condition ensures atleast one closed trade and secong one ensures last trade was a profit so we do not double the bet and keep it equal to initial
            self.mysize=self.initsize

        if self.signal1==2 and len(self.trades)==0:
            #defining stop loss and take profit ranges for sell signals
            sl1 = self.data.Close[-1] - 0.05
            tp1 = self.data.Close[-1] + 0.05
            self.buy(sl=sl1, tp=tp1,size=self.mysize)
        
        elif self.signal1==1 and len(self.trades)==0:
            #defining stop loss and take profit ranges for buy signals
            sl1 = self.data.Close[-1] + 0.05
            tp1 = self.data.Close[-1] - 0.05
            self.sell(sl=sl1, tp=tp1, size=self.mysize)

In [80]:
from backtesting import Backtest

bt = Backtest(df, MyStrat, cash=100000, commission=.00)
stat = bt.run()
stat

Start                     2022-08-12 00:00:00
End                       2024-07-11 00:00:00
Duration                    699 days 00:00:00
Exposure Time [%]                   99.574468
Equity Final [$]                 99284.794189
Equity Peak [$]                 100428.041138
Return [%]                          -0.715206
Buy & Hold Return [%]               30.080838
Return (Ann.) [%]                    -0.38411
Volatility (Ann.) [%]                0.520279
Sharpe Ratio                              0.0
Sortino Ratio                             0.0
Calmar Ratio                              0.0
Max. Drawdown [%]                    -1.16506
Avg. Drawdown [%]                   -0.205113
Max. Drawdown Duration      479 days 00:00:00
Avg. Drawdown Duration       76 days 00:00:00
# Trades                                    1
Win Rate [%]                              0.0
Best Trade [%]                     -29.075839
Worst Trade [%]                    -29.075839
Avg. Trade [%]                     -29.075839
Max. Trade Duration         694 days 00:00:00
Avg. Trade Duration         694 days 00:00:00
Profit Factor                             0.0
Expectancy [%]                     -29.075839
SQN                                       NaN
_strategy                             MyStrat
_equity_curve                             ...
_trades                      Size  EntryBa...
dtype: object